/*
    Here it is defined some of the css global resources,
    used to maintain the same styling throughout the app
*/

// Color palette
$base-grey: #222222;
$light-grey-1: #565656;
$light-grey-2: #f3f3f3;
$blue: rgb(23, 162, 184);
$dark-blue: rgb(21, 133, 150);
$orange: rgb(251, 139, 42);
