@import "../../assets/scss/resources.scss";

.info-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    .info-section__title {
        text-align: center;
    }
}

.form {
    //flex-grow: 1;
    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .form__location {
            width: 100%;
            input {
                width: 100%;
            }
        }

        .form__date {
            width: 100%;
            .react-datepicker-wrapper,
            input {
                width: 100%;
            }
            margin-top: 10px;
        }

        .button--ok {
            margin-top: 10px;
            color: $light-grey-2;
            background-color: $blue;
        }

        .button--ok:hover {
            background-color: $dark-blue;
        }
    }

    .form__required-fields {
        opacity: 0.8;
        font-weight: bold;
        font-size: 12px;
        margin-top: 5px;
    }
}
