@import "../../assets/scss/resources.scss";

.general-info {
    p {
        margin-bottom: 0 !important;
    }
}

.table-section {
    .table {
        .table__head {
            th {
                text-align: right;
            }
            .head__date {
                text-align: center !important;
            }
        }
        .table__body {
            td {
                text-align: right;
            }
            .body__date {
                text-align: center !important;
            }
        }
        th,
        td {
            background-color: $base-grey;
            color: $light-grey-2;
            border-color: $light-grey-1;
        }
    }
}
